.container {
  margin-top: 20px;
  display: flex;
}

.countrySelection {
  padding: 0 20px 0 0;
  overflow: auto;
  width: 250px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .countrySelection {
    border-right: none;
    width: 100%;
  }
}
